a {
    z-index: 1000;
    position: relative;
}

body {
    cursor: none;
}

.mouse {
    position: absolute;
    border-radius: 1500px;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

#cursor {
    background: #2128bd;
    width: 14px;
    height: 14px;
    
}
#mouse1 {
    height: 50px;
    width: 50px;
    background: pink;
    transition: 0.1s ease-out;
}
#mouse2 {
    height: 200px;
    width: 200px;
    background: rgb(193, 202, 193);
    transition: 0.2s ease-out;
}
