
* {
    margin: 0;
    padding: 0;
}



.notes ul {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

li {
    border: 2px solid  green;
    border-radius: 50%;
    font-size: 30px;
    margin: 0;
    padding: 40px 50px;
    margin-bottom: 100px;
}

.color_c {
    background: rgb(199, 199, 226);
}

.color_d {
    background: green;
}

.color_e {
    background: orange;
}

.color_f {
    background: plum;
}

.color_g {
    background: rgb(16, 236, 16);
}

.color_a {
    background: red;
}

.color_b {
    background: yellow;
}

.container {
    display: flex;
}

.container span {
    background: black;
    border-radius: 100px;
    display: inline;
    margin-left: 40px;
}

.m1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.case {
    display: flex;
    height: 40px;
    border: 2px solid black;
    align-items: center;
    margin-bottom: 0;
}

.one {
    width: 100px;
}

.two,
.three,
.four,
.five {
    width: 100px;
}

.six,
.seven,
.eight,
.nine {
    width: 90px;
}

.ten,
.eleven,
.twelve {
    width: 70px;
}

.m2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

