
* {
    margin: 0;
    padding: 0;
}

.manche {
    position: relative;
}

/* notes */

.notes ul {
    display: flex;
    justify-content: space-around;
}

h1 {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.circle { 
    margin: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    background: rgb(231, 229, 229);
    border-radius: 100px;
    line-height: 30px;
}
/* *Notes cordes à vide */

.v6 {
    position: absolute;
    top: 269px;
    left: 364px;
}

.v5 {
    position: absolute;
    top: 228px;
    left: 364px;
}

.v4 {
    position: absolute;
    top: 186px;
    left: 364px;
}

.v3 {
    position: absolute;
    top: 146px;
    left: 364px;
}

.v2 {
    position: absolute;
    top: 103px;
    left: 364px;
}

.v1 {
    position: absolute;
    top: 62px;
    left: 364px;
}

/* Notes case 1 */
.C1-1 {
    position: absolute;
    top: 61px;
    left: 441px;
}

.C1-2 {
    position: absolute;
    top: 102px;
    left: 441px;
}
.C1-3 {
    position: absolute;
    top: 146px;
    left: 441px;
}
.C1-4 {
    position: absolute;
    top: 187px;
    left: 441px;
}
.C1-5 {
    position: absolute;
    top: 228px;
    left: 441px;
}
.C1-6 {
    position: absolute;
    top: 268px;
    left: 441px;
}

/* Notes case 2 */
.C2-1 {
    position: absolute;
    top: 61px;
    left: 544px;
}

.C2-2 {
    position: absolute;
    top: 102px;
    left: 544px;
}
.C2-3 {
    position: absolute;
    top: 146px;
    left: 544px;
}
.C2-4 {
    position: absolute;
    top: 187px;
    left: 544px;
}
.C2-5 {
    position: absolute;
    top: 228px;
    left: 544px;
}
.C2-6 {
    position: absolute;
    top: 268px;
    left: 544px;
}

/* Notes case 3 */
.C3-1 {
    position: absolute;
    top: 61px;
    left: 646px;
}

.C3-2 {
    position: absolute;
    top: 102px;
    left: 646px;
}
.C3-3 {
    position: absolute;
    top: 146px;
    left: 646px;
}
.C3-4 {
    position: absolute;
    top: 187px;
    left: 646px;
}
.C3-5 {
    position: absolute;
    top: 228px;
    left: 646px;
}
.C3-6 {
    position: absolute;
    top: 268px;
    left: 646px;
}

/* Notes case 4 */
.C4-1 {
    position: absolute;
    top: 61px;
    left: 749px;
}

.C4-2 {
    position: absolute;
    top: 102px;
    left: 749px;
}
.C4-3 {
    position: absolute;
    top: 146px;
    left: 749px;
}
.C4-4 {
    position: absolute;
    top: 187px;
    left: 749px;
}
.C4-5 {
    position: absolute;
    top: 228px;
    left: 749px;
}
.C4-6 {
    position: absolute;
    top: 268px;
    left: 749px;
}

/* Notes case 5 */
.C5-1 {
    position: absolute;
    top: 61px;
    left:851px;
}

.C5-2 {
    position: absolute;
    top: 102px;
    left:851px;
}
.C5-3 {
    position: absolute;
    top: 146px;
    left:851px;
}
.C5-4 {
    position: absolute;
    top: 187px;
    left:851px;
}
.C5-5 {
    position: absolute;
    top: 228px;
    left:851px;
}
.C5-6 {
    position: absolute;
    top: 268px;
    left: 851px;
}

/* Notes case 6 */
.C6-1 {
    position: absolute;
    top: 61px;
    left:948px;
}

.C6-2 {
    position: absolute;
    top: 102px;
    left:948px;
}
.C6-3 {
    position: absolute;
    top: 146px;
    left:948px;
}
.C6-4 {
    position: absolute;
    top: 187px;
    left:948px;
}
.C6-5 {
    position: absolute;
    top: 228px;
    left:948px;
}
.C6-6 {
    position: absolute;
    top: 268px;
    left: 948px;
}

/* Notes case 7 */
.C7-1 {
    position: absolute;
    top: 61px;
    left:1038px;
}

.C7-2 {
    position: absolute;
    top: 102px;
    left:1038px;
}
.C7-3 {
    position: absolute;
    top: 146px;
    left:1038px;
}
.C7-4 {
    position: absolute;
    top: 187px;
    left:1038px;
}
.C7-5 {
    position: absolute;
    top: 228px;
    left:1038px;
}
.C7-6 {
    position: absolute;
    top: 268px;
    left: 1038px;
}

/* Notes case 8 */
.C8-1 {
    position: absolute;
    top: 61px;
    left:1130px;
}

.C8-2 {
    position: absolute;
    top: 102px;
    left:1130px;
}
.C8-3 {
    position: absolute;
    top: 146px;
    left:1130px;
}
.C8-4 {
    position: absolute;
    top: 187px;
    left:1130px;
}
.C8-5 {
    position: absolute;
    top: 228px;
    left:1130px;
}
.C8-6 {
    position: absolute;
    top: 268px;
    left: 1130px;
}

/* Notes case 9 */
.C9-1 {
    position: absolute;
    top: 61px;
    left:1223px;
}

.C9-2 {
    position: absolute;
    top: 102px;
    left:1223px;
}
.C9-3 {
    position: absolute;
    top: 146px;
    left:1223px;
}
.C9-4 {
    position: absolute;
    top: 187px;
    left:1223px;
}
.C9-5 {
    position: absolute;
    top: 228px;
    left:1223px;
}
.C9-6 {
    position: absolute;
    top: 268px;
    left: 1223px;
}

/* Notes case 10 */
.C10-1 {
    position: absolute;
    top: 61px;
    left:1306px;
}

.C10-2 {
    position: absolute;
    top: 102px;
    left:1306px;
}
.C10-3 {
    position: absolute;
    top: 146px;
    left:1306px;
}
.C10-4 {
    position: absolute;
    top: 187px;
    left:1306px;
}
.C10-5 {
    position: absolute;
    top: 228px;
    left:1306px;
}
.C10-6 {
    position: absolute;
    top: 268px;
    left: 1306px;
}

/* Notes case 11 */
.C11-1 {
    position: absolute;
    top: 61px;
    left:1379px;
}

.C11-2 {
    position: absolute;
    top: 102px;
    left:1379px;
}
.C11-3 {
    position: absolute;
    top: 146px;
    left:1379px;
}
.C11-4 {
    position: absolute;
    top: 187px;
    left:1379px;
}
.C11-5 {
    position: absolute;
    top: 228px;
    left:1379px;
}
.C11-6 {
    position: absolute;
    top: 268px;
    left: 1379px;
}

/* Notes case 12 */
.C12-1 {
    position: absolute;
    top: 61px;
    left:1450px;
}

.C12-2 {
    position: absolute;
    top: 102px;
    left:1450px;
}
.C12-3 {
    position: absolute;
    top: 146px;
    left:1450px;
}
.C12-4 {
    position: absolute;
    top: 187px;
    left:1450px;
}
.C12-5 {
    position: absolute;
    top: 228px;
    left:1450px;
}
.C12-6 {
    position: absolute;
    top: 268px;
    left: 1450px;
}


/* manche de la guitare */

.container {
    display: flex;
}

.container span {
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: inline;
    margin: 0px auto;
}

.m1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.case {
    display: flex;
    height: 40px;
    border: 1px solid black;
    align-items: center;
    margin-bottom: 0;
}

.one {
    border-left: 10px solid red;
}

.one,
.two,
.three,
.four,
.five {
    width: 100px;
}

.six,
.seven,
.eight,
.nine {
    width: 90px;
}

.ten,
.eleven,
.twelve {
    width: 70px;
}

.m2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accord_majeur_c p {
    margin-top: 54px;
    text-align: center;
}

.accord_majeur_c {
    border: 2px solid green;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.diagramme {
    display: flex;
    margin-left: 10px;
}

.cc {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid black;
    border-top: 2px solid red;
}

.cc1 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    order: 1px solid black;
}

.cc2 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    order: 1px solid black;
}

.cc3 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid black;
}

.cc4 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid black;
}

.cc5 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid black;
}


.cc6 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid Black;
}

.cc7 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid black;
}

.cc8 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 30px 30px 30px 30px;
    margin: 10px;
    border: 1px solid black;
}

.t1 {
    border: 1px solid black;
}

.t2 {
    border: 1px solid black;
}

.t3 {
    border: 1px solid black;
}

.t4 {
    border: 1px solid black;
}
.t5 {
    border: 1px solid black;
}
.t6 {
    border: 1px solid black;
}
.t7 {
    border: 1px solid black;
}
.t8 {
    border: 1px solid black;
}
.t9 {
    border: 1px solid black;
}
.t10 {
    border: 1px solid black;
}
.t11 {
    border: 1px solid black;
}

.t12 {
    border: 1px solid black;
}

.t13 {
    border: 1px solid black;
}

.t14 {
    border: 1px solid black;
}
.t15 {
    border: 1px solid black;
}
.t16 {
    border: 1px solid black;
}
.t17 {
    border: 1px solid black;
}
.t18 {
    border: 1px solid black;
}
.t19 {
    border: 1px solid black;
}
.t20 {
    border: 1px solid black;
}